<div>
    <div class="bg-primary w-100 text-white">
        <div class="container position-relative min-vh-50">
            <div class="position-absolute w-100 text-center top-25">
                <h1 class="mt-5">Welcome To SecureChat app</h1>
                <p class="mt-3">
                    We provide you in this application a secure chat room. <br>
                    It allow you to talk one to other user in a secure manner
                </p>
            </div>
        </div>
    </div>
    <div class="landing-main-footer bg-primary"></div>
</div>

<div class="mt-5">
    <h3 class="text-center">How does it Work</h3>
    <p class="my-3 mx-5 text-center">
        The goal of this project is to make a secure communication between the front end application
        and the backend server. It uses the Kerberos authentication protocol to assure the authenticity of the
        sender of the message
    </p>
</div>

<div *ngIf="true" class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h4>What we Have to Offer</h4>
        </div>
        <div class="card-body row">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h5>Messaging</h5>
                    </div>
                    <div class="card-body text-center">
                        <i class="fa fa-2x fa-pencil text-primary m-3" aria-hidden="true"></i>
                        <div class="card-text">
                            You can send any message you like to any other user online
                        </div>
                        <a href="" class="card-link">Start now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h5>Authenticity</h5>
                    </div>
                    <div class="card-body text-center">
                        <i class="fa fa-2x fa-key text-primary m-3" aria-hidden="true"></i>
                        <div class="card-text">
                            Assured by using the Kerberos Authentication protocol for the client server communication
                        </div>
                        <a href="https://www.youtube.com/watch?v=qW361k3-BtU&pp=ugMICgJmchABGAE%3D" _blank class="card-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h5>Encryption</h5>
                    </div>
                    <div class="card-body text-center">
                        <i class="fa fa-2x fa-lock text-primary m-3" aria-hidden="true"></i>
                        <div class="card-text">
                            All of the Messages you send through the networe are encrypted
                        </div>
                        <a href="https://www.youtube.com/watch?v=6-JjHa-qLPk&pp=ugMICgJmchABGAE%3D" class="card-link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
