<div class="container-fluid" style="height: 90.6vh;">
    <div class="row h-100">
        <div class="col-3 border-right-dark px-0">
            <button class="btn btn-success btn-block m-3">Add Contact</button>
            <ul class="list-group w-100">
                <li class="list-group-item pl-3">User 1</li>
                <li class="list-group-item pl-3">User 2</li>
                <li class="list-group-item pl-3">User 3</li>
                <li class="list-group-item pl-3">User 4</li>
            </ul>
        </div>
        <div class="col-9 h-100 position-relative px-0">
            <div class="conversation-container">
                <div *ngFor="let m of this.messages.reverse(); let even = even">
                    <span *ngIf="!even">
                        <app-message-sent
                            [content]="m">
                        </app-message-sent>
                    </span>
                    <span *ngIf="even">
                        <app-message-recieved
                            [content]="m">
                        </app-message-recieved>
                    </span>
                </div>
            </div>
            <div class="position-absolute bottom-0 w-100">
                <form (ngSubmit)="sendMessage()">
                    <input type="text" name="Message" [(ngModel)]="typedMessage" class="form-control" placeholder="What you have in mind">
                </form>
            </div>
        </div>
    </div>
</div>
