<div class="container-fluid" style="height: 90.6vh;">
    <div class="row h-100">
        <div class="col-3 border border-dark px-0">
            <button class="btn btn-success btn-block m-3">Add Contact</button>
            <ul class="list-group w-100">
                <li class="list-group-item pl-3">User 1</li>
                <li class="list-group-item pl-3">User 2</li>
                <li class="list-group-item pl-3">User 3</li>
                <li class="list-group-item pl-3">User 4</li>
            </ul>
        </div>
        <div class="col-9 h-100 position-relative px-0">
            <div class="">
                Here will be displayed messages
            </div>
            <div class="position-absolute bottom-0 w-100">
                <input type="text" class="form-control" placeholder="What you have in mind">    
            </div>
        </div>
    </div>
</div>
